.cardList {
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    
    justify-content: space-around; 
    margin-left: 20px;
    font-family: Georgia;
  }

  .headers{
      color: gray;
      font-size: 35px;
  }



  .ftr{
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

.btn{
    width: 150px;
    height: 50px;
    background-color: rgb(29, 27, 27);
    color: white;
}