<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>




<div class="cardList">
<div>
<div style="font-size: 25px;">
  <h1 class="headers">TEMPLATES</h1>

  <p>Template1</p>
  <p>Template2</p>
  <p>Template3</p>



</div>


<div style="font-size: 25px;" >
    <h1 class="headers">DATASET</h1>
    
     <p>Datsset1</p>
     <p>Dataset2</p>
     <p>Dataset3</p>
      
  
  </div>

  </div>




 <div>
<div style="font-size: 25px;">
  <h1 class="headers">CREAT TEMPLATE</h1>
  <h1 class="headers">ITEMS</h1>
  <div>
    <p>Point <input type="text"> <button>add</button></p> 
    <p>Point <input type="text"> <button>add</button></p> 
    <p>Point <input type="text"> <button>add</button></p> 
  </div>
</div>


<div style="font-size: 25px;">
    <h1 class="headers">CART</h1>
    <p>Point <span style="margin-left: 10px">L</span> <button style="margin-left: 10px">X</button></p> 
    <p>Point <span style="margin-left: 10px">L</span> <button style="margin-left: 10px">X</button></p> 
    <p>Point <span style="margin-left: 10px">L</span> <button style="margin-left: 10px">X</button></p> 
    
  </div>





</div> 






<div style="font-size: 25px;">
  <h1 class="headers">CREAT DATSET</h1>
 
  <p>Name <input type="text"></p>
  <p>Folder <input type="file"></p>

  <button style="height:30px; width:100px">Create</button>
 
  <h3 class="headers">CURRENT FOLDER</h3>
  <p>url/file/.filename</p>
 

</div>





</div>


<footer class="ftr">

 <Button class="btn">Export</Button>
  <span style="margin-right:20px; align-self: auto; font-size: 20px"> <ul>
   <p>Dataset1</p>
   <p>Dataset2</p>
   </ul>
  </span>
 <Button class="btn">Label</Button>


</footer>












<router-outlet></router-outlet>
